@charset "UTF-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}
/* CSS Document */
@media ( min-width: 481px){	
	.sp-nav,.spmenu{
		display: none;
	}
	header{
		position: fixed;
		z-index: 999;
		width: 100vw;
	}
	header navi{
		float: right;
	}
	header navi a{
    margin-top: 1.56vw;
    display: inline-block;
    font-family: "freight-text-pro";
    font-size: 1.64vw;
    letter-spacing: 0.1em;
    color: #000;
    line-height: 3.13vw;
    margin-right: 3.78vw;
    text-decoration: none;
    transition: all 1s;
    border-bottom: thin none #0000;
	}
	header navi a:hover{
    border-bottom: thin solid #000;
	}
	.logo{
		width: 8.36vw;
		margin-top: 1.56vw;
		margin-left: 4.06vw;
		z-index: 10;
		position: relative;
		
	}
	.topimg{
		margin-top:-6vw;
		width: 100vw;
		}
	h1{
    margin-top: 3.13vw;
    text-align: center;
    font-family: "freight-text-pro";
    font-size: 3.13vw;
    letter-spacing: 0.2em;
    color: #000;
    font-weight: lighter;
	}
	table{
		margin: 0 auto;
	}
	td{
		border-bottom: 0.15vw solid#000;
		padding: 7.81vw 0 11.72vw;
	}
	tr{
    vertical-align: top;
    font-family: "a-otf-gothic-bbb-pr6n";
    color: #000;
    
	}
	.a{
		font-size: 1.41vw;
		letter-spacing: 0.1em;
		line-height: 3.13vw;
		width: 28vw;
		padding-left: 5vw;
	}
	p{
	font-size: 1.09vw;
	margin-top: 0.78vw;
	}
	.b{
		font-size: 1.09vw;
		letter-spacing: 0.1em;
		line-height: 3.13vw;	
		width: 40vw;
		padding-left: 9vw;
		
	}
	footer{
		width: 100vw;
		position: absolute;
		background-color: #DEE4E5;
		margin-top: 20vw;
		padding: 8.75vw 0 6.25vw;
		z-index: 20;
	}
	.logo2{
		margin-left: 7.42vw;
		width: 7.14vw;
	}
	.logo2,.info,.opentime,.reseave2{
		display: inline-block;
		vertical-align: top;
	}
	.logo2,.info,.opentime{
		margin-right: 7.81vw;
	}
	h3{
		font-family: "acumin-pro";
		font-weight: normal;
		font-size: 1.48vw;
		letter-spacing: 0.1em;
		line-height: 2.6vw;
		color: #000;
		margin-bottom: 3.55vw;
	}
	.info p,.reseave2 p{
		font-family: "a-otf-gothic-bbb-pr6n";
		font-weight: normal;
		font-size: 1.09vw;
		letter-spacing: 0.2em;
		line-height: 1.94vw;
		text-align: left;
		color: #000;
	}
	.info img{
		margin-top: 2.42vw;
		margin-right: 0.78vw;
	}
	.time{
		font-family: "acumin-pro";
		font-weight: normal;
		font-size: 1.88vw;
		letter-spacing: 0.1em;
		text-align: left;
		color: #000;
	}
	.time2{
		font-family: "a-otf-gothic-bbb-pr6n";
		font-weight: normal;
		font-size: 1.09vw;
		letter-spacing: 0.2em;
		line-height: 1.94vw;
		text-align: left;
		color: #000;
		margin-top: 2.34vw;
	}
	.time img{
		display: block;
		padding: auto 0;
	}
	.reseave2 p{
		margin-bottom: 2.58vw;
	}
	.reseave2 div{
		width: 25.08vw;
		height: 4.06vw;
		border: 1px solid #231815;
		text-align: center;
		margin-bottom: 1.41vw;
		transition: all 0.5s;
	}
	.reseave2 div:hover{
    background-color: #B9BEBE;
	}
	.reseave2 img{
		padding:1.56vw;
	}
	.telb{
		width: 11.27vw;
	}
	.hot{
		width: 14.93vw;
	}
}


@media ( max-width: 481px){	
	header{
		display: none;
	}
	.sp-nav{
    transition: all 0.8s ease-in-out;
    width: 60vw;
    height: 100vh;
    padding-top: 20vw;
    opacity: 0;
    transform: translateX(200%);
    z-index: 999;
    background-color: rgba(255,255,255,0.70);
	position:fixed;
	top:0;
	}

	.sp-nav div a{
		font-family: "freight-text-pro";
		font-size:20px;
		font-weight: lighter;
		letter-spacing: 0.1em;
		line-height: 40px;
		color: #000;
		margin-left: 6vw;
		text-decoration: none;
		transition: all 0.5s;
	}
	.sp-nav div a:hover{
		color: #193044;
	}
	.toggle {
		opacity: 1;
		transform: translateX(75%);
	}
	.close{
		position: absolute;
		height: 25px;
		width: 25px;
		top:5vw;
		left:5vw;
	}
	.close::before,.close::after{
		content: "";
		width: 15px;
		height: 2px;
		background-color:#000;
		position: absolute;
		top:50%;
		left:5px;
		}
	.close::before{
		transform: rotate(45deg);
	}
	.close::after{
		transform: rotate(-45deg);
	}
	.spmenu{
		position: fixed;
		width: 40px;
		height: 40px;
		z-index: 200;
		top:10px;
		right: 20px;
	}
	.spmenu span{
		width: 30px;
		height: 1px;
		float: left;
		transform: translateY(-50%);
		position: absolute;
		top:50%;
		left:5px;
		background: #000;
	}
	.spmenu span::before,.spmenu span::after{
		content: '';
		display: block;
		width: 30px;
		height: 1px;
		position: absolute;
		left: 0px;
		background: #000;
	}

	.spmenu span::before{
		top:10px;
	}

	.spmenu span::after{
		top:-10px;
	}
	
	.logo{
		width: 12.08vw;
		margin-top: 4.83vw;
		margin-left: 4.83vw;
		z-index: 10;
		position: relative;
		
	}
	.topimg{
		margin-top: -8.45vw;
		width: 100vw;
		}
	h1{
    margin-top: 7.25vw;
    text-align: center;
    font-family: "freight-text-pro";
    font-size: 24px;
    letter-spacing: 0.2em;
    color: #000;
    font-weight: lighter;
	}
	table{
		margin: 2.42vw auto 0;
	}
	td{
		width: 86.96vw;
		display: block;
	}
	tr{
    vertical-align: top;
    font-family: "a-otf-gothic-bbb-pr6n";
    color: #000;
    
	}
	.a{
		font-size: 14px;
		letter-spacing: 0.1em;
		line-height: 40px;
		padding: 7.25vw 2.42vw;
	}
	p{
	font-size: 10px;
	}
	.b{
		font-size: 11px;
		letter-spacing: 0.1em;
		line-height: 30px;	
		border-bottom: 0.01vw solid #000;
		padding: 0 2.42vw 10vw;
		
	}
	footer{
		text-align: center;
		width: 100vw;
		background-color: #DEE4E5;
		margin-top: 24.15vw;
		padding-bottom: 4.83vw;
	}
	.logo2{
		width: 12.08vw;
		margin-top: -5.8vw;
	}
	.info,.opentime,.reseave2{
		display: none;
	}
}
